.DS_Store
public/

infrastructure/private.tfvars
/infrastructure/letsencrypt
/fastlane/.env
/fastlane/report.xml
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
