.DS_Store
public/

infrastructure/private*
/infrastructure/letsencrypt/*
!infrastructure/letsencrypt/hook.sh
!infrastructure/letsencrypt/domains.txt
/fastlane/.env
/fastlane/report.xml
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup

vendor/
infrastructure/*.zip
